@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

/* Dark Mode */
:root {
  --header-footer-bg: #222933;
  --background-color: #161d25; /* Asosiy fon rangi - siyoh rang */
  --text-color: #ccc; /* Asosiy matn rangi */
  --card-background: #1a2333; /* Kino card fon rangi - orqa fonga yaqin, ammo ko'rinarli */
  --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Card shadow - dark mode */
  --primary-color: #3a7bd5; /* Asosiy rang */
  --secondary-color: #9b9a9a; /* Qo'shimcha rang */
  --link-color: #3a7bd5; /* Linklar rangi */
  --scrollbar-track-bg: #2a2a2a; /* Dark mode scroll track fon rangi */
  --scrollbar-thumb: #4c5c7b; /* Scroll thumb - dark modda sal qoraroq */
  --card-image-overlay: #1a2333c2; /* Card image uchun overlay - dark modda */
  --card-image-overlay-bottom: #161d25; /* Asosiy fon rangi - siyoh rang */
}
/* Light Mode */
.light-mode {
  --header-footer-bg: #f9f9f9; /* Header va footer fon rangi - light modda */
  --background-color: #ffffff; /* Asosiy fon rangi */
  --text-color: #333333; /* Asosiy matn rangi */
  --card-background: #f3f6fc; /* Kino card fon rangi - biroz ochroq */
  --card-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.0994384); /* Card shadow - light mode */
  --primary-color: #007bff; /* Asosiy rang */
  --secondary-color: #6c757d; /* Qo'shimcha rang */
  --link-color: #007bff; /* Linklar rangi */
  --scrollbar-track-bg: #e0e0e0; /* Light mode scroll track fon rangi */
  --scrollbar-thumb: #9baec8; /* Scroll thumb - light modda sal qoraroq */
  --card-image-overlay: #00000040; /* Card image uchun overlay - light modda */
  --card-image-overlay-bottom: #00000090;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  /* transition: all 0.2s ease; */
}
a {
  color: var(--link-color);
  text-decoration: none;
  color: inhe;
}

/* Scroll styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(
    --scrollbar-track-bg
  ); /* Track foni light va dark modda turlicha */
}

::-webkit-scrollbar-thumb {
  background: var(
    --scrollbar-thumb
  ); /* Scroll thumb rangi light va dark mod uchun mos */
  border-radius: 5px;
}
